### Root logger option
log4j.rootLogger=debug, app

### Uncomment the line below to set the log level for the script being executed
### when not set the script will use the same log level as the rootLogger
#log4j.logger.*SCRIPT*=error, app

### These are all the 3rd party libs used
### If you run into problems, increase the
### log verbosity as necessary
log4j.logger.velocity=error, app
log4j.logger.org.simplejavamail=error, app

# Direct log messages to stdout
log4j.appender.app=org.apache.log4j.ConsoleAppender
log4j.appender.app.Target=System.out
log4j.appender.app.layout=org.apache.log4j.PatternLayout
log4j.appender.app.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n
